{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
